
header{
    border-bottom: 1px solid black;
   
  }
  
 h1, h3{
    text-align: center;
  }
  
  main{
    width: 800px;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    position:absolute ;
    right: 0;
    text-align: center;
  }
  
  footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;

  }

  button:active{
  color: black;
  background-color: white;
  }

